<%- include("../partials/header.ejs") %>

    <body>


        <form id="form" action="/signup" method="POST" class="form">
            <div class="formheading"><b>Sign In </b></div>
            <div class="formheading2">stay tuned for listening more music</div>
            <div class="formmain">
                <div class="col">
                    <input class="input" type="email" name="email" id="exampleFormControlInput1" placeholder="Enter Your Email Here">
                </div>

                <div class="col">
                    <input class="input" type="password" name="password" placeholder="Password" aria-label="First name">
                </div>


            </div>
            <input class="formbtn" type="submit" value="Sign In">
        </form>


    </body>

    </html>