<div class="part1">
    <div class="mainlogo">
        <img src="/images/spotifylogo.png" class="logoimg" alt="" srcset="">
        <p>Spotify</p>
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    

    <div class="cssnavbar">
        <div class="afterlogo3">
            <ul>
                <li><a href="/" class="link"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><i class="fa-solid fa-magnifying-glass"></i> Search</li>
                <li><i class="fa-solid fa-bookmark"></i> Your Librery</li>
            </ul>
        </div>
        <div class="afterlogo2">
            <ul>
                <li><i class="fa-solid fa-headphones"></i> Created Playlist</li>
                <li><i class="fa-solid fa-heart"></i> Liked Songs</li>
            </ul>
        </div>
        <div class="afterlogolast3">
            <div><input type="text" class="searchnav" id="searchnav" placeholder="Search Singer.."
                    onkeyup="searchsinger()"></div>
            <ul>
                <li><a href="/arijit" class="link singername">Arijit Singh</a></li>
                <li><a href="/pritam" class="link singername">Pritam</a></li>
                <li><a href="/yoyo" class="link singername">YoYo HoneySingh</a></li>
                <li><a href="/kishore" class="link singername">Kishore Kumar</a></li>
                <!-- <li><i class="fa-solid fa-bars"></i></li> -->
            </ul>
        </div>
    </div>

</div>
<!-- <div class="hamburger">
    <i class="fa-solid fa-bars"></i>
</div> -->